.headline {
  background-color: #e5e5e5;
}

.para {
  font-size: 150%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.crazy {
  width: 5%;
  height: 5%;
}

.div1,
.div2,
.div3 {
  float: left;
  padding: 15px;
  border: 1px solid black;
}

footer {
  text-align: center;
  background-color: #fec89a;
}
